.titles {
  text-align: end;
// }

.main-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  margin-left: 0px;
}

h1 {
  text-align: end;
  padding: 20px;
  margin: 20px;
  font-size: 80px;
  font-family: sans-serif;
  font-weight: 200;
}

}
